nav, footer {
  padding-top:1%;
  /*background-color: rgba(0,0,0,.8);*/
}

nav {
  padding: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 45px;
  z-index: 10;
}

nav ul, nav li{
	list-style-type: none;
  margin: 0;
  padding: 0;
  display:block;
}

ul li.liWithIcon{
  margin: 0 auto;
  list-style-type: none;
  display:inline-block;
  width:33%;
  text-align: center;
  line-height: 45px;
}

nav ul li, nav ul li ul li, nav li{
  color: white;
  cursor: pointer;
  text-align: center;
  font-family: sans-serif;
}

nav ul li:hover,
nav li:hover{
  text-decoration: underline;
}

.linkChild{
  font-size: .7em;
}

.liWithIcon a {
  height:55px; 
}

.icon{
  width:40px;
  height:auto;
  margin-top: 15px;
}

a{
  text-decoration: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*.closeLink{
  color: white;
}*/
